/* Global Styles */

/* CSS */
:root {
    --Vintage-green: #1b4d3e;
    --surf-green: #ace1af;
    --Vintage-cream: #f1e3d3;
    --Vintage-autumn: #e07a5f;
    --auburn: #9e2a2b;
    --Maroon: #690b22;
}

.water-brush-regular {
    font-family: "Water Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.whisper-regular {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

.allison-regular {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
}
  
#navbar {
    background-color: var(--Vintage-green);
    color: var(--Vintage-cream);
}

#navbar .logo {
    height: 40px;
}

#hero {
    background: url(../images/6d086810-6523-4e8a-ac93-c71484cb3c70.png) no-repeat center center/cover;
    position: relative;
    margin-top: 66px;
    height: 600px;
}

#workshop {
    background-color: var(--Vintage-green);
    color: var(--Vintage-cream);
    min-height: 400px;
}

#custom-shop {
    background: url(../images/80a006c5-f5b3-48fb-8e16-7814a32e109e.png);
    background-size: cover;
}

#set-up {
    background: url(../images/52658d90-3910-44c9-8b56-ccc895d2c733.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#services {
    background-color: var(--auburn);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#services .service-card {
    padding: 20px;
    border-radius: 10%;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid var(--Vintage-cream);
}

#luthier {
    background-color: var(--Maroon);
    color: var(--Vintage-autumn);
    height: 350px;
}

#luthier button {
    background-color: var(--Vintage-green);
    color: var(--surf-green);
    border: none;
}

#contact {
    background-color: var(--Vintage-green);
    color: var(--Vintage-cream);
    margin: 20, 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#impressum {
    display: flex;
    flex-direction: row;
}

#copyright {
    align-items: start;
}


/* About page specs */

#about-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

#about-head .title {
    flex-grow: 2;
    padding: 15px;
    color: var(--Vintage-cream);
}

#about-head .guitar-part {
    flex-grow: 1;
    color: var(--surf-green);
}

#about-head img {
    height: 30px;
    margin-right: 10px;
}

.parts {
    min-height: 300px;
    background-color: var(--Maroon);
    color: var(--Vintage-cream);
}

#pics {
    background-color: #ace1af;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

#pups {
    background-color: var(--Vintage-green);
    color: var(--surf-green);
}



/* Gallery page specs */

header {
    background-color: var(--Vintage-green);
    margin-top: 66px;
}
#gallery-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

#gallery-head .title {
    flex-grow: 2;
    padding: 15px;
    color: var(--Vintage-cream);
}

#gallery-head .guitar-type {
    flex-grow: 1;
    color: var(--surf-green);
}

#gallery-head img {
    height: 30px;
    margin-right: 10px;
}

.gallery-section {
    min-height: 300px;
    background-color: var(--Maroon);
}

#telecaster {
    background-color: var(--Vintage-green);
}
/* Form page specs */