/* ROOT */ 
/* set color palette */
:root {
    --vintage-green: #1b4d3e;           /* rgb( 27,  77,  62) */
    --surf-green: #ace1af;              /* rgb(172, 225, 175) */
    --vintage-cream: #f1e3d3;           /* rgb(241, 227, 211) */
    --vintage-autumn: #e07a5f;          /* rgb(224, 122,  95) */
    --auburn: #9e2a2b;                  /* rgb(158,  42,  43) */
    --maroon: #690b22;                  /* rgb(105,  11,  34) */
}

/* fonts */
.yesteryear-regular {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* global styles */

/* navbar section */
#navbar {
    background-color: var(--vintage-green);    /* adjust navbar color to color scheme */
    color: var(--vintage-cream);
}

#navbar .nav-link {
    color: var(--vintage-cream);  /* text color for the links */
}
  
#navbar .nav-link:hover {
    color: var(--surf-green);  /* change color on hover */
}

#navbar .navbar-brand {
    margin-right: auto;   
}
#navbar .logo {
    height: 40px;       /* set size of the navbar logo */
}

.navbar-title {                                             /* center navbar title */
    flex: 1; /* make sure empty space is handled */
    text-align: center; /* keep title central */
}

/* default main design */
main {                                                      /* set main content of page below navbar */
    flex: 1 0 auto;  
    margin-top: 66px;  
}

/* footer section */

footer {                                                    /* set footer colors */
    background-color: var(--vintage-green);  
    color: var(--vintage-cream);
}

footer #social i {                                          /* design social media icons in footer */
    font-size: 2rem;                
    color: var(--vintage-cream);
    margin: 0 1.5rem;
}

/* Home page section */

#hero {                                                     /* set and design hero image */
    background: url(../images/workshop.png) no-repeat center center/cover; 
    position: relative;
    height: 600px;
}

#slogan {                                                   /* set an opaque background for a page slogan */
    background-color:  rgba(105,  11,  34, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#slogan > h1, #slogan > h2 {                                /*set text color for page slogan */
    color: var(--vintage-cream);
}

#workshop {
    background-color: var(--vintage-green);
    color: var(--vintage-cream);
    padding: 15px;
    min-height: 400px;

}

#custom-shop {
    width: 90%;
    margin: 20px auto;
}

#custom-shop h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#guitars > div, #tuning > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#custom-shop p {
    padding: 0 20px;
}

#custom-shop hr {
    border-top: 3px solid var(--vintage-cream);
    margin: 5px 0;
}


#luthier {
    background-color: var(--maroon);
    color: var(--vintage-autumn);
    display: flex;
    flex-direction: column; /* Stack content vertically by default (for small screens) */
    align-items: center; /* Center content horizontally */
    justify-content: flex-start; /* Align content to the top */
    position: relative; /* For the button positioning */
    padding: 20px;
    gap: 20px; /* Add space between text and image */
    width: 100%;
    min-height: 300px; /* Ensure the section has a minimum height */
    
}


#luthier img {                                                      /* maintain image aspect ratio */
    border-radius: 50%;
    max-width: 100%; /* Ensure the image fills the width of the container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image fits correctly */
    max-height: 100%; /* Prevent image from exceeding the height */
    flex-grow: 1;
}

a.anchor {
    display: block;
    position: relative;
    top: -66px;
    visibility: hidden;
}

a.anchor-deep {
    display: block;
    position: relative;
    top: -300px;
    visibility: hidden;
}

#luthier #button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#luthier button {
    background-color: var(--vintage-green);
    border: solid var(--surf-green) 1px;
    border-radius: 4px;
}

#luthier button a {
    color: var(--surf-green);
    text-decoration: none;
}

header {
    background-color: var(--vintage-green);
    margin-top: 66px;
}

header a {
    text-decoration: none;
}


/* About page specs */

#about-head  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
}

#about-head .title {
    padding: 0.5rem;
    color: var(--vintage-cream);
}

#about-head .guitar-part {
    margin-right: 1em;
    flex-shrink: 1;
    color: var(--vintage-cream);
}

#about-head img {
    height: 30px;
    margin-right: 10px;
}

.parts {
    background-color: var(--maroon);
    color: var(--vintage-cream);
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    padding: 0;
}

.column img {
    width: 100%;
    vertical-align: middle;
}

#woods-image {
    background-image: url(../images/woods-bg.png);
    background-size: cover;
    width: 100%;
    height: 200px;    
}

#pup-image {
    background-image: url(../images/pickups-bg.png);
    width: 100%;
    height: 200px;    
}

#hardware-image {
    background-image: url(../images/hardware-sm.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;

}



/* Gallery page specs */
#gallery-head div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
}

#gallery-head .title {
    padding: 0.5rem;
    color: var(--vintage-cream);
}

#gallery-head .guitar-type {
    margin-right: 1em;
    flex-shrink: 1;
    color: var(--vintage-cream);
}

#gallery-head img {
    height: 30px;
    margin-right: 10px;
}

.gallery-section {
    min-height: 300px;
    background-color: var(--maroon);
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guitar-shape {
    padding: 1rem;
    height: 230px;
}

.thumbnail {
    height: 200px;
    margin: 10px;
    border-radius: 8px;
}


#telecaster {
    background-color: var(--vintage-green);
}
/* Form page specs */

#request {
    background-color: var(--maroon);
    color: var(--vintage-cream);
}

#request h2,
#request h3 {
    text-align: center;
    padding: 1rem;
}

#details {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0;
}

#details label {
    padding: 1rem;
}

#details input {
    margin: 0, 15px, 0, 15px;
}

.radio-buttons {
    padding: 1rem;
    margin-left: 15px;
}

#request-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

#custom-request {
    width: 90%;
    padding: 1rem;
    border: solid var(--vintage-cream) 1px;
    border-radius: 8px;
}

.specs {
    height: 500px;
}

#message {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#form-button {
    padding-bottom: 1rem;
}

/* Success */

/* 404 */

#error-message {
    background-color: var(--maroon);
    color: var(--vintage-cream);
}

/* Media query: sm (768px and down) */
@media screen and (max-width: 575px) {
    #luthier {
        flex-direction: column; /* Stack text and image vertically */
        justify-content: flex-start; /* Align to the top */
    }

    #luthier img {
        width: 80%; /* adjust image size */
        height: auto; /* maintain aspect ratio */
    }
    
    
    #luthier #button-container {                            /* Set button at the bottom */
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media query: md (576px and up) */
@media screen and (min-width: 576px) {
    /* Hero */
    #slogan {
        width: 400px;
        left: 40px;
    }

    #luthier {
        flex-direction: row; /* Align content horizontally */
        justify-content: space-between; /* Space out text and image */
    }

    #luthier img {
        max-width: 45%; /* adjust image to text size */
        max-height: 100%; /* keep image in container's height */
        flex-grow: 1; /* Allow the image to grow and shrink with the text */
    }

    #luthier #luth-text {
        flex: 1; /* Text should take remaining space */
        margin-right: 20px; /* Space between text and image */
    }
}
/* Media query: md (768px and up) */
@media screen and (min-width: 768px) {
    #luthier img {
        max-width: 30%; /* adjust image to text size */
    }

    /* Services section */
    #guitars,
    #tuning {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #guitars > div,
    #tuning > div {
        width: 75%;
    }

    #tuning > div {
        text-align: end;
        align-self: flex-end;
    }  
}

/* Media query: lg (992px and up) */
@media screen and (min-width: 992px) {

    /* adjust navbar title */
    .navbar-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #luthier {
        padding: 30px; /* Add more padding for larger screens */
        gap: 30px; /* Increase gap between text and image */
        align-items: stretch;
    }

    #luthier img {
        max-width: 25%; /* adjust image to text size */
    }

    #luthier #luth-text {
        flex: 3; /* Text should take remaining space */
    }
    
}

/* Media query: xl (1200px and up) */
@media screen and (min-width: 1200px) {
    #luthier img {
        max-width: 20%; /* adjust image to text size */
    } 
}

/* Media query: xxl (1400px and up) */
@media screen and (min-width: 1400px) {
    #luthier img {
        max-width: 10%; /* adjust image to text size */
    }
    
}